.nav{
    text-align: center;
    line-height: 38px;
}

h1{
    font-family: skolar-sans-latin, sans-serif;
    color: rgb(84, 107, 151);
    font-weight: 400;
    font-style: bold;
    font-size: 42px;
    text-align: center;
    margin-top: 150px;

}
h2{
    font-family: skolar-sans-latin, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 26px;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 50px;
}
a#btn{
    text-decoration: none;
    color: black;
    font-size: 18px;
    line-height: 18px;
    font-family: skolar-sans-latin, sans-serif;
}

a#btn:hover{
    text-decoration: none;
    color: rgb(84, 107, 151);
    font-family: skolar-sans-latin, sans-serif;
    text-decoration: underline;
}